# Bytecode e cache do Python
__pycache__/
*.py[cod]
*.so

# Ambientes virtuais
.venv/
env/
venv/

# Configurações do VSCode
.vscode/

# Arquivos de ambiente
.env
*.env

# Dados temporários e logs
*.log
*.tmp
*.bak
*.swp

# Dados de testes
.tox/
.coverage
htmlcov/
pytest_cache/

# Arquivos gerados
dist/
build/
*.egg-info/

# Jupyter (caso use)
.ipynb_checkpoints/

# Outros
.DS_Store
