tensorflow
cloudpickle
holidays
keras
keras-tuner
loguru
matplotlib
mlflow
numpy
pandas
pandas-datareader
requests
scikit-learn
scipy
tqdm
typer
yfinance
dotenv
joblib
ipython

pytest
pytest-pythonpath